<section class='notes-container' id="notesContainer">
    {{!-- add notes button --}}
    <button id="addNoteBtn" class="notes-container__btn--add-note">
        <i class="fas fa-plus-circle fa-3x notes-container__i--add"></i>
    </button>
</section>
